@model MyKbb.Master.Models.InventoryViewModel

@{
    ViewData["Title"] = "Cars Inventory";
}
<div class="row">
    <div class="col-md-3">
        <h2>Cars Inventory</h2>
    </div>
</div>

<div class="container">
    <div class="col-md-2" style="margin-right: 5px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Manufacturer
                </div>
                <div class="panel-body">
                    <input type="checkbox" />
                    <input type="checkbox" />
                    <input type="checkbox" />
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Year
                </div>
                <div class="panel-body">
                    <input type="checkbox" />
                    <input type="checkbox" />
                    <input type="checkbox" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-12">
            @*@Html.RenderPartialAsync("pagination",Model.TotalPages)*@
            <div class="pull-right pagination">
                <ul class="pagination">
                    <li class="page-pre"><a href="~/inventory/?pageId=@( Model.CurrentPageId > 0 ? Model.CurrentPageId - 1 : 0 )">‹</a></li>
                    @for (int i = 0; i < Model.TotalPages; i++)
                    {
                        if (Model.CurrentPageId == i)
                        {
                            <li class="page-number active"><a href="~/inventory/?pageId=@i">@(i + 1)</a></li>
                                }
                                else
                                {
                            <li class="page-number"><a href="~/inventory/?pageId=@i">@(i + 1)</a></li>
                        }

                    }
                    <li class="page-next"><a href="~/inventory/?pageId=@( Model.CurrentPageId <Model.TotalPages -1 ? Model.CurrentPageId +1 : Model.TotalPages - 1 )">›</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(m => m.Cars)
        </div>
    </div>
</div>